
/*@media only screen and (min-width: 961px) {
    body {
    } */  
    * {
        box-sizing: border-box;
      }
      
      p {
        padding:0;
        margin:0;
      }
      
      a {
        text-decoration: none;
        padding: 2px;
      }
      
      a:hover {
        background-color: springgreen;
        display: inline-block;
        border-radius: 2px;
      }
      
      nav {
        background-color: rgba(0,139, 139,0.4);
        display: flex;
        flex-flow: row wrap;
        border-radius: 4px;
        justify-content: space-evenly;
        padding: 10px;
        margin-bottom: 15px;
      }
      
      nav a {
        color: rgba(0,139, 139, 1);
      }
      
    .wrapper {
        display:flex;
        flex-direction: column;
        font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
       
      }
      
      .title{
        display: inline-block;
        background-color: rgba(0,139, 139,0.8);
       
      }
    
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .menu-container {
        
        color: #fff;
        background-color: #5995DA;  /* Blue */
        padding: 20px 0;
        display:flex;  
        justify-content: center;
      }
      
      .menu {
        border: 1px solid #fff;  /* For debugging */
        width: 900px;
        display:flex;
        justify-content: space-between;
      }
    
      .links {
        border: 1px solid #fff;  /* For debugging */
        display: flex;
        justify-content: flex-end;
      }
      
      .login {
        margin-left: 20px;
      }
      
      .header-container {
        color: #5995DA;
        background-color: #D6E9FE;
        display: flex;
        justify-content: center;
      }
      
      .header {
        width: 900px;
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
      }
    
    .social,
    .subscribe {
      align-self: flex-end;
      margin-bottom: 20px;
    }
    
    .photo-grid-container{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .photo-grid {
        overflow: hidden;
        width: 300px;
      }
      .photo-grid-item {
        border: 1px solid #fff;
        width: 300px;
        height: 300px;
      }
    
      .photo-grid-item,
       .photo-grid-item--hidden{
          display: none;
      }
    
      .photo-grid-container .photo-grid-item img{
        width: 100%;
        max-width: 300;
        height: 300px;
      }
    
    .photo-grid-container .photo-visible{
        display: block;
    }
    
    .carousel{
        display: flex;
        overflow: hidden;
        max-width: 600px;
        position: relative;
        align-items: center;
    }
    .carousel__item{}
    .carousel__item--visible{display: block;}
    .carousel__item--hidden{display: block;}
    .carousel__item img{width: 100%; max-width: 600px; height:auto;}
    .carousel__action {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        width: 100;
    }
    
    .carousel-button{
        background-color: #5995DA;
        height: 50px;
        padding: 5px;
        border-radius: 5px;
    }

    .prev{
        background-color: aqua;
    }

    .next{
        background-color: red;
    }



      .footer {
        display: flex;
        justify-content: space-between;
      }
      
      .footer-item {
        border: 1px solid #fff;
        background-color: #D6E9FE;
        height: 200px;
        flex: 1;
      }
    
    .footer-one,
    .footer-three {
      background-color: #5995DA;
      flex: initial;
      width: 300px;
    }
    
    
    
    