* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: darkslategray;
    min-height: 1200px;
}

#map { height: 360px; }
  
/*Page Layout*/ 
.columns {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    margin-top: 40px;
    column-gap: 50px;
    justify-content: center;
    margin-right: 50px;
    align-items: flex-start;
}
  
.columns form {
    display: flex;
    flex-direction: column;
}
  
.wrapper {
    display: flex;
}
  
.container {
    max-width: 960px;
    margin-top: 25px;
}
  
.header {
    display: block;
    padding: 15px;
    border-radius: 5px;
    background-color: hsl(48, 100%, 67%);
}
  
.page_item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    height: fit-content;
    background-color: #efefef;
    align-self: center;
}

.page_item_wide {
    width: 640px;
}
  
.form_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px;
    gap: 10px;
}
  
.form_item legend {
    padding-bottom: 10px;
}
  
.main_form button {
    padding-top: 10px;
}

.main_form {
    padding: 10px;
    width: 250px;
    height: 300px;
}
  
.button {
    background-color: #48c78e;
    justify-content: center;
    width: 200px;
    color: white;
}
  
@media only screen and (max-width: 450px) {
    .columns {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        column-gap: 0px;
        justify-content: center;
        margin-right: 0px;
        row-gap: 30px;
    }
  
    .page_item p {
        width: 150px;
    }
    
    .body {
      justify-content: center;
    }
}  