* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: yellow;
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.columns form{
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
}
.container {
  max-width: 960px;
  margin-top: 25px;
}

.header {
  display: block;
  padding: 15px;
  border-radius: 4px;
  background-color: hsl(48, 100%, 67%);
}

.page_item{
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 4px;
  background-color: #efefef;
}

.container button{
  background-color: orange;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid;
  border-radius: 5px;
  width: 150px;
}